---
import Icon from './Icon.astro';
---

<section class="box skills">

	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Quality Assurance</h2>
		<p>In the last 14y+ I had the opportunity to test basically everything...</p>
		<p style="color:deeppink; font-weight: bold;">Things I like to test:</p>
		<ul>
			<li>API</li>
			<li>Web</li>
			<li>Mobile</li>
			<li>IoT applications</li>
			<li>Real time applications</li>
			<li>Database</li>
			<li>UX & Accessibility</li>
			<li>Batch Executions & Deployment scripts</li>
		</ul>
		<p style="color:deeppink; font-weight: bold;">Kind of test I've done:</p>
		<ul>
			<li>Non-functional (Accessibility, Acceptance, Performance, Load, Stress, Security...) </li>
			<li>Functional (Sanity, Smoke, In Sprint, E2E, In Regression...)"</li>
		</ul>
		<p style="color:deeppink; font-weight: bold;">Other things I do:</p>
		<ul>
			<li>Create test plans</li>
			<li>Create or Contribute in Automation Framework</li>
			<li>Report in different tools (Jira, Rally, TestRail...)</li>
			<li>Improve the quality in the company process</li>
			<li>Pentesting</li>
		</ul>
		<p style="color:deeppink; font-weight: bold;">Tools I've used:</p>
		<ul>
			<li>Selenium (Webdriver, Grid, RC)</li>
			<li>Webdriver.io</li>
			<li>Cypress</li>
			<li>Robot Framework</li>
			<li>Appium</li>
			<li>BDD: Serenity, Behave, Jbehave, Cucumber, Jasmine, Mocha</li>
			<li>Chai</li>
			<li>JUnit, TestNg, Mockito, Wiremock, Powermock, Beeceptor, Mocky</li>
			<li>Postman</li>
			<li>Protractor</li>
			<li>Puppeteer</li>
			<li>Rest Assured</li>
			<li>Rest Template</li>
			<li>testRigor</li>
			<li>Katalon</li>
			<li>TestComplete</li>
			<li>ISTQB (knowledge)</li>
			<li>Agile Testing</li>
			<li>Nightwatch</li>
			<li>Datadog (functional and non-functional)</li>
			<li>LambdaTesting</li>
			<li>Browserstack</li>
			<li>Jira, Bugzilla, Mantis</li>
			<li>Jmeter, BlazeMeter, HP LoadRunner</li>
		</ul>
	</div>

	<div class="stack gap-2 lg:gap-4">
		<Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Web Generalist</h2>
		<p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
		<p style="color:deeppink; font-weight: bold;">Things I like to design:</p>
		<p>Paid traffic strategy, Landing Pages, Logo and Branding, Marketing Campaign Creatives</p>
		<p style="color:deeppink; font-weight: bold;">Tools I like to use:</p>
		<ul>
			<li>Meta Busines & Google Ads</li>
			<ul>
				<li>E-commerce</li>
				<li>Local Business</li>
				<li>Alternative trafic sources</li>
				<li>Google Analytics</li>
				<li>Google Looker</li>
				<li>Avoiding blocks</li>
				<li>DPGL</li>
			</ul>
			<li>HTML & CSS</li>
			<li>DALLE-e</li>
			<li>Bootstrap</li>
			<li>Canva (with/out AI)</li>
			<li>EventLabs</li>
			<li>Figma</li>
			<li>Font-awesome</li>
			<li>Gimp</li>
		</ul>
		<div class="stack gap-2 lg:gap-4">
			<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>Professor/Trainer & Writer</h2>
			<p>Teaching what is right in the right way</p>
			<p style="color:deeppink; font-weight: bold;">Where I've taught:</p>
			<ul>
				<li>On the College</li>
				<li>On the University</li>
				<li>Inside companies - training teams</li>
				<li>On the internet</li>
			</ul>
			<p style="color:deeppink; font-weight: bold;">What I've taught:</p>
			<ul>
				<li>Code Best Practices</li>
				<li>Databases</li>
				<li>Java and Hibernate</li>
				<li>Software Security</li>
				<li>Electronic Circuitry</li>
				<li>Mathematics</li>
				<li>Physics</li>
				<li>Liberal Arts</li>
				<li>Pedagogy</li>
				<li>Catholic Doctrine</li>
			</ul>
			<p style="color:deeppink; font-weight: bold;">And what about to be a writer?</p>
			I have created hundread of documentation for my clients, published scientific articles in engineering and atomistic Physics, and published e-books in Mathematics, Pedagogy, Catholicism and Liberal Arts.
			<p style="color:deeppink; font-weight: bold;">Tools I use</p>
			<ul>
				<li>Microsoft Office (with advanced tools)</li>
				<li>Chat GPT-3</li>
				<li>Magic Write</li>
				<li>Synesthesia</li>
				<li>Pitch</li>
				<li>Tome</li>
				<li>Suffer</li>
				<li>SEOMatic</li>
				<li>Geogebra</li>
			</ul>
		</div>
	</div>
	
	
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full-Cycle Engineer</h2>
		<p>I have lead and architected solutions for big and small companies granting they are following the best practices.</p>
		<p style="color:deeppink; font-weight: bold;">What is a full-cycle?:</p>
		A full-cycle developer is a developer that is able to navigate throught all the areas of the SSDLC, since management and design until deep code, testing and deployment scripts.
		<p style="color:deeppink; font-weight: bold;">My favorite works are:</p>
		<ul>
			<li>Solutions Architecture (DDD, Cloud Native, Event Driven, Security, Observability, SAD)</li>
			<li>System Design and Design Docs (System Design Interview, White Board, C4 Model, UML, GMUDs)</li>
			<li>Databases (Relational and Non-relational)</li>
			<li>Apache Kafka</li>
			<li>Cloud and Serverless</li>
			<li>Edge Computing and IoT, FOG, CDN, Cloudfare, WAF</li>
			<li>ADRs, Concurrency, DDD vs. Microsservices, Context Mapping</li>
			<li>Design Patterns: GoF, SOLID and others</li>
			<li>DevOps and SRE</li>
			<li>Observability</li>
			<li>Infra as Code</li>
			<li>Java with Spring and Spring Boot</li>
			<li>Python and Flask</li>
			<li>Javascript & Typescript</li>
			<li>Angular, Vue, Astro, Netlify, React (learning)</li>
			<li>Bitbucket, Git Hub, Gitlab</li>
			<li>Bootstrap, Bulma</li>
		</ul>
		<p style="color:deeppink; font-weight: bold;">Certification</p>
			AWS Technical Professional, AWS Business Professional



		<div class="stack gap-2 lg:gap-4">
			<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>Web Securtiy Engineer</h2>
			<p>I have lead and architected solutions for big and small companies granting they are following the best practices.</p>
			<p style="color:deeppink; font-weight: bold;">My favorite works are:</p>
			Kali Forensics and Autopsy, OSINT, Shodan,Computer Forensics, Malware Analysis,	Stenography, Wireshark,	Bandit, Wakanda, Mr. Robot,	Fristi Leaks, Privilege Escalation (Windows and Linux),	Arctic,	Exploitation, Advanced Payload Encoding, OWASP/ZAP, Burp.
			<p style="color:deeppink; font-weight: bold;">Certification</p>
			EC-Council
		</div>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
